<phpunit colors="true" verbose="true"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
>
    <testsuites>
        <testsuite name="Neo4j php test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true" cacheDirectory="out/phpunit/cache" pathCoverage="true">
        <report>
            <clover outputFile="out/phpunit/clover.xml" />
            <html outputDirectory="out/phpunit/html" />
        </report>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
