<phpunit colors="true" verbose="true"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
>
    <php>
        <ini name="memory_limit" value="512M" />
    </php>
    <testsuites>
         <testsuite name="Neo4j php test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true" cacheDirectory="out/phpunit/cache" pathCoverage="true">
        <report>
            <clover outputFile="out/phpunit/clover.xml" />
            <html outputDirectory="out/phpunit/html" />
            <xml outputDirectory="out/phpunit/xml"/>
            <text outputFile="out/phpunit/out.txt"/>
            <php outputFile="out/phpunit/out.php"/>
            <crap4j outputFile="out/phpunit/crap4j.xml"/>
        </report>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
