<phpunit colors="true" verbose="true"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         convertDeprecationsToExceptions="true"
>
    <testsuites>
        <testsuite name="Integration">
            <directory>./tests/Integration</directory>
        </testsuite>
        <testsuite name="Performance">
            <directory>./tests/Performance</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="CONNECTION" value="neo4j://neo4j:testtest@localhost" />
    </php>
</phpunit>
