name: Integration Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ["8.1.31", "8.3.17"]
    name: "Running on PHP ${{ matrix.php }} in a Neo4j 4.4 cluster"

    steps:
      - uses: actions/checkout@v4
      - name: Populate .env
        run: |
          echo "PHP_VERSION=${{ matrix.php }}" > .env
          echo "CONNECTION=neo4j://neo4j:testtest@core1" >> .env
      - uses: hoverkraft-tech/compose-action@v2.0.2
        name: Start services
        with:
          compose-file: "./docker-compose-neo4j-4.yml"
          up-flags: "--build --remove-orphans"
      - name: Test
        run: |
          docker compose -f docker-compose-neo4j-4.yml run --rm client composer install
          docker compose -f docker-compose-neo4j-4.yml run --rm client ./vendor/bin/phpunit -c phpunit.xml.dist --testsuite Integration
