name: Integration Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [8.1, 8.3]
    name: "Running on PHP ${{ matrix.php }} with a Neo4j 5.20-enterprise cluster"

    steps:
      - uses: actions/checkout@v2
      - name: Populate .env
        run: |
          echo "PHP_VERSION=${{ matrix.php }}" > .env
          echo "CONNECTION=neo4j://neo4j:testtest@server1" >> .env
      - uses: hoverkraft-tech/compose-action@v2.0.2
        name: Start services
        with:
          compose-file: './docker-compose.yml'
          up-flags: '--build --remove-orphans'
      - name: Test
        run: |
          docker compose run client composer install
          docker compose run client ./vendor/bin/phpunit -c phpunit.xml.dist --testsuite Integration
