name: Static Analysis

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  php-cs-fixer:
    name: "Lint & Analyse"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Setup the correct PHP version globally
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: /tmp/composer-cache
          key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}

      - name: Install dependencies
        run: composer install

      - name: "PHP-CS-Fixer"
        run: vendor/bin/php-cs-fixer fix --dry-run

      - name: "PSalm"
        run: vendor/bin/psalm --show-info=true
