name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    name: "Running Unit Tests"
    strategy:
        matrix:
            php: ['8.1.31', '8.2.27', '8.3.17']

    steps:
      - uses: actions/checkout@v4

      # Setup the correct PHP version globally
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: /tmp/composer-cache
          key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}

      - name: Install dependencies
        run: composer install
        
      - uses: php-actions/phpunit@v4
        with:
          configuration: phpunit.xml.dist
          php_version: ${{ matrix.php }}
          memory_limit: 1024M
          version: 10
          testsuite: Unit
          bootstrap: vendor/autoload.php
